__pycache__/
*.pyc
.venv/
venv/
.env
dist/
build/
.DS_Store

# Uploaded files
uploads/
*.db
services/crud-api/venv/
services/crud-api/__pycache__/
**/__pycache__/
htmlcov/
.coverage*

# references
dl-server/